{{>layouts/header}}

<div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle-x">
        <div class="text-center">
            <p class= "fs-3">병원 정보와 게시판</p>
        </div>
    </div>
</div>
{{>layouts/footer}}