{{>layouts/header}}
<form action="/hospitals/list" method="get">
    지역: <input type="text" name="keyword" />
    <input type="submit" />
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{hospitalName}}</td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    {{#keyword}}
        <li class="page-item"><a class="page-link" href="?page={{previous}}&keyword={{keyword}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{next}}&keyword={{keyword}}">Next</a></li>
    {{/keyword}}
    {{^keyword}}
        <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
    {{/keyword}}

</ul>
{{>layouts/footer}}