{{! .mustache 가 붙어있는 파일을 읽어서 View로 씀}}
{{>layouts/header}}
    <h1>{{id}} {{username}} 안녕! Hello!</h1> {{! controller method에서 선언한 값을 바인딩 함}}
    <button type="button" class="btn btn-primary">버튼</button>
{{>layouts/footer}}
